<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex.gt-xs="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeholder="Type of training">
          <mat-option value="Type 1">Type 1</mat-option>
          <mat-option value="Type 2">Type 2</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button type="submit" (click)="startTraining.emit()">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
