<section class="current-training" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout fxLayoutAlign="center center" style="position: relative;">
    <p style="position: absolute;">{{exercise.name}}</p>
    <mat-progress-spinner mode="determinate" [value]="progress" [diameter]="200"></mat-progress-spinner>
  </div>
  <h1>{{ progress }}%</h1>
  <p>Keep on going, you can do it!</p>
  <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <button mat-raised-button (click)="pauseClick()" *ngIf="isOngoing">Pause</button>
    <button mat-raised-button (click)="restartClick()" *ngIf="!isOngoing">Return</button>
    <button mat-raised-button (click)="stopClick()" color="warn">Stop</button>
  </div>
</section>
