<section class="current-training" fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-spinner mode="determinate" [value]="progress" [diameter]="200"></mat-progress-spinner>
  <h1>Progress: {{ progress }}%</h1>
  <p>Keep on going, you can do it!</p>
  <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <button mat-raised-button (click)="pauseClick()" *ngIf="isOngoing">Pause</button>
    <button mat-raised-button (click)="restartClick()" *ngIf="!isOngoing">Return</button>
    <button mat-raised-button (click)="stopClick()" color="accent">Stop</button>
  </div>
</section>
