<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <ng-content select="[id=navToggleBtn]"></ng-content>
  </div>
  <div>
    <a [routerLink]="['/']">LOGO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul class="nav-items" fxLayout fxLayoutGap="10px">
      <li>
        <a [routerLink]="['/auth/signup']" routerLinkActive="active" *ngIf="!isAuthenticated">Sign Up</a>
      </li>
      <li>
        <a [routerLink]="['/auth/signin']" routerLinkActive="active" *ngIf="!isAuthenticated">Sign In</a>
      </li>
      <li>
        <a [routerLink]="['/training']" routerLinkActive="active" *ngIf="isAuthenticated">Training</a>
      </li>
      <li>
        <a (click)="logout()" *ngIf="isAuthenticated">Sign out</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
