.signin-form {
  padding: 30px 0;

  & mat-card {
    width: 300px;
    margin: auto;

    & mat-form-field {
      width: 100%;
    }
  }

  & .google-signin,
  & .signup {
    margin: 0;
  }

  & .google-signin {
    margin-top: 10px;
  }
}
